%h2 Les ragots des iiens

%p.background IL PARAIT QUE

= form_tag "/ragots", :remote => false, :'data-type' => 'html' do |f|
  = text_area_tag :content, "Nouveau Ragot", :rows => 2
  = submit_tag "Envoyer", :class => "btn"

- if !@ragots.empty?
  %ul#ragots_list
    - @ragots.order_by(:date.desc).each do |r|
      %li.ragot
        = r.content
        %span.ragot_date
          = l r.date, :format => :short



