%h1 Liste des Albums

%table.table
  %thead
    %tr
      %th Nom
      %th Propriétaire
      %th Nombre de photos
      %th Date
      %th
  %tbody
    - @albums.each do |album|
      %tr{"data-published" => album.published, "data-id" => album.id}
        %td= link_to album.name, gallery_album_url(album, subdomain: "")
        %td= link_to album.author.username, admin_user_path(album.author)
        %td= album.photos.count
        %td
          - if album.date
            = album.date.strftime("%m/%Y")
          - else
            %span.label-info Pas de date

        %td
          .release-switch
            %button.btn.btn-small.btn-warning
              Retirer
            %button.btn.btn-small.btn-info
              Publier

          = link_to admin_album_path(album), class: 'btn btn-small btn-danger', confirm: "Sûr ?", method: "DELETE" do
            %i.icon-remove-circle
            Supprimer

:coffeescript
  $ ->
    $(".release-switch").switchReleaseButton()
