.page-header
  %h1 We ♥ developers 

.row
  %p Vous souhaitez créer une application utilisant les données d'ARES, pas de souci, voici la description de l'API mise à disposition des développeurs :

  %ul
    %li= link_to "Users", "#api-users"
    %li= link_to "Promotions", "#api-promotions"


  %h2 Authentification
  %p
    Pour accéder aux données, vous avez besoin d'identifier votre application, pour cela, rien de plus simple, il vous suffit de 
    = link_to "créer un token.", new_oauth_application_path
    Avec ces identifiants vous pouvez alors effectuer des requêtes au sein de notre API JSON : 

    %pre= "#{root_url(subdomain:"api")}promotions?client_id=CLIENT_ID&client_secret=CLIENT_SECRET"

  %a{name: "api-users"}
  %h2 
    Users

  %h3
    show

  %h4 URL
  %pre /users/:username

  %h5 Exemple
  %pre /users/exemple2011

  %h5 Réponse
  %code Statut : 200

  %pre
    :plain
      { 
        id: "0123456789abcdef012345678",
        username: "exemple2011",
        first_name: "Api",
        last_name: "Exemple",
        email: "user@example.com",
        promotion: "2014"
      }

  %h3
    search

  %h4 URL
  %pre /users/search?q=PARAM

  %h5 PARAM
  %p 
    Il faut préciser le critère de recherche, vous trouverez ci-dessous quelques exemples
    %ul
      %li 
        Les prénoms qui commencent avec un P 
        %pre q=first_name:P*
      %li
        Les gens qui ont "Unbekandt" comme nom de famille : 
        %pre q=last_name:Unbekandt

  %h5 Exemple
  %pre /users/search?q=first_name=Api

  %h5 Réponse
  %code Statut: 200

  %pre
    :plain
      [
        { 
          id: "0123456789abcdef012345678",
          username: "exemple2011",
          first_name: "Api",
          last_name: "Exemple",
          email: "user@example.com",
          promotion: "2014"
        }
      ]

  %a{name: "api-promotions"}
  %h2
    Promotions

  %h3 
    index

  %h4 URL
  %pre /promotions 

  %h5 Réponse
  %code Statut: 200

  %pre 
    :plain
      [
        {
          id: "0123456789abcdef012345678",
          name: "2011",
          students: [ … ]
        },
        {
          …
        },
        {
          id: "0123456789abcdef012345678",
          name: "2018",
          students: [ … ]
        }
      ]

  %h3 
    show

  %h4 URL
  %pre /promotions/:year

  %h5 Exemple
  %pre /promotions/2011

  %h5 Réponse
  %code Statut: 200

  %pre
    :plain
      {
        id: "0123456789abcdef012345678",
        name: "2011",
        students: [ { user1 } , … , { userN } ]
      }
    

