%h2 Ajout d'une matière
.row
  = form_for @matter, url: courses_year_matters_path(@year), html: { class: "form-horizontal" } do |f|
    -if !@matter.errors.empty?
      .text-error
        Échec de l'ajoue du cours :
        %ul
          - @matter.errors.map do |k,v|
            %li
              = k.to_s.capitalize + " : " + v.to_s

    .control-group
      = f.label :name, "Nom : ", class: "control-label"
      .controls 
        = f.text_field :name, placeholder: "Nom", autofocus: true
    .control-group
      = f.label :year, "Année d'étude : ", class: "control-label"
      .controls 
        = text_field_tag 'courses_matter_year', @year, disabled: true
    .control-group
      .controls
        = f.submit "Valider"
