= form_for [:gallery, @album] do |f|
  -if !@album.errors.empty?
    .text-error
      Échec de la création de l'album :
      %ul
        - @album.errors.map do |k,v|
          %li
            = k.to_s.capitalize + " : " + v.to_s
  = f.label :name, "Nom"
  = f.text_field :name, class: "textfield"
  = f.label :desc, "Description"
  = f.text_area :desc, rows: 4
  = f.label :date, "Date"
  = f.date_select :date, :order => [:day, :month, :year]
  %br
  - if @album.photos.any?
    %h2 Gestion des photos
    #edit-thumbs
      - @album.photos.each do |p|
        %span.edit-img
          = image_tag p.photo.url(:mini), alt: p.desc, class: "img-rounded edit-thumb"
          %span
  %br
  %button.btn.btn-primary{:type => "submit"}
    %i.icon-ok.icon-white
    Mettre à jour

