= simple_form_for [:admin, @user], html: { class: 'form-horizontal' } do |f|
  = f.input :username, :class => "form-control"
  = f.input :email, :class => "form-control"
  = f.input :first_name, :class => "form-control"
  = f.input :last_name, :class => "form-control"
  = f.input :promotion, :class => "form-control", selected: @user.promotion.id, collection: Promotion.all
  .form-actions
    = f.submit class: 'btn btn-primary'
